.wrapper
  =render 'shared/side_bar'

  .chat-side-right
    .chat-side-right-main-header
      .main-header-left-box
        .main-header-left-box__group-list-box
          = @group.name
        %ul.main-header-left-box__group-list
          .main-header-left-box__member-list-box
            %li.list Member :
            - @user.each do |user|
              %li.name
                = user.name
      .main-header-edit-btn Edit

    .messages
      =render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'