.wrapper
  =render 'shared/side_bar'

  .chat-side-right
    .chat-side-right-main-header
      .main-header-left-box
        .main-header-left-box__group-list-box
        %ul.main-header-left-box__group-list test_group
        .main-header-left-box__member-list-box
          %ul.list Member :
          %ul.name zhuosi777
      .main-header-edit-btn Edit

    .messages
      =render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'